[Desktop Entry]
Name=GLinux
Comment=Configure Logitech gaming peripherals
Comment[de]=Logitech Gaming-Peripheriegeräte konfigurieren
Exec=glinux
Icon=io.github.glinux
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
Keywords=Logitech;Gaming;Mouse;DPI;Macros;RGB;Lighting;
StartupNotify=true
